# 1 - 10

In [1]:
print('hello world')

hello world

In [2]:
print("mary's cosmetics")

mary's cosmetics

In [3]:
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [6]:
print('C:\windows')

C:\windows

In [9]:
# `\t`는 탭을 의미하고 `\n'`은 줄바꿈을 의미
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

In [11]:
print('naver;kakao;sk;samsung')

naver;kakao;sk;samsung

In [13]:
print("naver", "kakao", "samsung", sep=",")

naver,kakao,samsung

In [16]:
print("naver", "kakao", "samsung", sep="/")

naver/kakao/samsung

In [18]:
print("first","second")

first second

In [19]:
5/3

1.6666666666666667

# 11 - 20

In [27]:
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [42]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, print(type(시가총액)))
print(현재가, print(type(현재가)))
print(PER, print(type(PER)))

<class 'int'>
298000000000000 None
<class 'int'>
50000 None
<class 'float'>
15.79 None

In [37]:
s = "hello"
t = "python"

print(s,'!', t)

hello ! python

In [38]:
s = "hello"
t = "python"

print(s+"!", t)

hello! python

In [39]:
2 + 2 * 3

8

In [43]:
a = "132"
print(type(a))

<class 'str'>

In [46]:
num_str = "720"
num_int = int(num_str)
print(int(num_str), type(int(num_str)))

720 <class 'int'>

In [48]:
num = 100
num = str(num)
print(str(num), type(str(num)))

100 <class 'str'>

In [1]:
year = "2020"
print(int(year)-3)  # 2017
print(int(year)-2)  # 2018
print(int(year)-1)  # 2019

2017
2018
2019

In [2]:
월 = 48584
개월수 = 36
총금액 = 월 * 개월수
print(총금액)

1749024

# 21 - 30

In [5]:
letters = 'python'
letters[0],letters[2]

('p', 't')

In [6]:
a = "24가 2210"
a[4:]

'2210'

In [24]:
a = "홀짝홀짝홀짝"
print(a[0],a[2],a[4])

홀 홀 홀

In [12]:
a = "PYTHON"
print(a[-1],a[-2],a[-3],a[-4],a[-5],a[-6])

N O H T Y P

In [13]:
a = "PYTHON"
print(a[::-1])

NOHTYP

In [23]:
a = "010-1111-2222"
b = a.replace("-", " ")
print(b)

010 1111 2222

In [26]:
a = "010-1111-2222"
b = a.replace("-","")
print(b)

01011112222

In [28]:
a = "http://sharebook.kr"
a[17:]

'kr'

In [29]:
lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

In [31]:
a = 'abcdfe2a354a32a'
'A'+a[2:]

'Acdfe2a354a32a'

In [32]:
string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

# 31 - 40

In [33]:
a = "3"
b = "4"
print(a + b)

34

In [34]:
print("Hi" * 3)

HiHiHi

In [38]:
print("-" * 80)

--------------------------------------------------------------------------------

In [42]:
t1 = 'python'
t2 = 'java'
print((t1,t2) * 4)

('python', 'java', 'python', 'java', 'python', 'java', 'python', 'java')

In [43]:
t1 = "python"
t2 = "java"
t3 = t1 + ' ' + t2 + ' '
print(t3 * 4)

python java python java python java python java

In [45]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [46]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [47]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [56]:
a = "5,969,782,550"
b = a.replace(",","")
int(b)
print(b,type(b))

5969782550 <class 'str'>

In [57]:
a = "2020/03(E) (IFRS연결)"
print(a[0:10])

2020/03(E)

In [58]:
a = "   삼성전자    "
a.strip()

'삼성전자'

# 41 - 50

In [59]:
a = "btc_krw"
a.upper()

'BTC_KRW'

In [60]:
a = "BTC_KRW"
a.lower()

'btc_krw'

In [61]:
a = 'hello'
a.upper()

'HELLO'

In [65]:
a = "보고서.xlsx"
a.endswith("xlsx")

True

In [67]:
a = "보고서.xlsx"
a.endswith(("xlsx","xls"))

True

In [68]:
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [69]:
a = "hello world"
a.split()

['hello', 'world']

In [71]:
a = "btc_krw"
a.split('_')

['btc', 'krw']

In [72]:
a = "2020-05-01"
a.split('-')

['2020', '05', '01']

In [73]:
a = "039490     "
a.strip()

'039490'

# 50 - 60

In [74]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]

In [75]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
movie_rank.append("배트맨")
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [77]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1, "슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [80]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
movie_rank.remove("스플릿")
movie_rank.remove("배트맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '럭키']

In [82]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
lang1.extend(lang2)
lang1

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [84]:
a = [1, 2, 3, 4, 5, 6, 7]
max(a),min(a)

(7, 1)

In [85]:
a = [1, 2, 3, 4, 5]
sum(a)

15

In [87]:
a = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
len(a)

12

In [90]:
a = [1, 2, 3, 4, 5]
average = sum(a) / len(a)
print(average)

3.0

# 61 - 70

In [92]:
a = ['20180728', 100, 130, 140, 150, 160, 170]
a[1:]

[100, 130, 140, 150, 160, 170]

In [96]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a[0],a[2],a[4],a[6],a[8]

(1, 3, 5, 7, 9)

In [99]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a[1::2]

[2, 4, 6, 8, 10]

In [100]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a[0::2]

[1, 3, 5, 7, 9]

In [101]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a[0::3]

[1, 4, 7, 10]

In [105]:
a = [1, 2, 3, 4, 5]
a[::-1]

[5, 4, 3, 2, 1]

In [121]:
a = ['삼성전자', 'LG전자', 'Naver']
a[::2]

['삼성전자', 'Naver']

In [123]:
a = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
a[0:]

['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

In [124]:
a = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(a))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [125]:
a = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(a))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [128]:
a = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print('\n'.join(a))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [129]:
a = "삼성전자/LG전자/Naver"
b = a.split('/')
b

['삼성전자', 'LG전자', 'Naver']

In [130]:
a = [2, 4, 3, 1, 5, 10, 9]
a.sort()
a

[1, 2, 3, 4, 5, 9, 10]

# 71 - 80

In [132]:
my_variable = ()
print(type(my_variable))

<class 'tuple'>

In [137]:
movie_rank = ('닥터스트레인지','스플릿','럭키')
movie_rank

('닥터스트레인지', '스플릿', '럭키')

In [141]:
a = (1)
a, type(a)

(1, int)

In [142]:
t = (1, 2, 3)
t[0] = 'a'

TypeError: 'tuple' object does not support item assignment

In [143]:
t = 1, 2, 3, 4
type(t)

tuple

### 76 - 80 튜플 잘 모르겠서엽..

# 81 - 90

### 81 - 83번 아돈노

In [148]:
temp = {}

In [157]:
dic = {'메로나':1000, '폴라포':1200, '빵빠레':1800}
dic

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [159]:
dic = {'메로나':1000, '폴라포':1200, '빵빠레':1800}
dic['죠스바'] = 1200
dic['월드콘'] = 1500
dic

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [160]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
ice['메로나']

1000

In [161]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

print("메로나 가격: ", ice["메로나"])

메로나 가격:  1000

In [164]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
ice['메로나'] = 1300
ice

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [168]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
del ice['메로나']
ice

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [169]:
>> icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
>> icecream['누가바']
Traceback (most recent call last):
  File "<pyshell#69>", line 1, in <module>
    icecream['누가바']
KeyError: '누가바'

SyntaxError: invalid syntax (1150558173.py, line 1)

# 91 - 100

In [171]:
inventory = {"메로나": [300, 20], "비비빅": [400, 3], "죠스바": [250, 100]}
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [178]:
print(inventory["메로나"][0],"원")

300 원

In [179]:
inventory = {"메로나": [300, 20], "비비빅": [400, 3], "죠스바": [250, 100]}
print(inventory["메로나"][1],"개")

20 개

In [182]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
inventory["월드콘"] = [500, 7]
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [187]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice = list(icecream.keys())
ice

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [188]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['탱크보이'],icecream['폴라포'],icecream['빵빠레'],icecream['월드콘'],icecream['메로나']

(1200, 1200, 1800, 1500, 1000)

In [189]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
price = list(icecream.values())
print(price)

[1200, 1200, 1800, 1500, 1000]

In [191]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
icecream

{'탱크보이': 1200,
 '폴라포': 1200,
 '빵빠레': 1800,
 '월드콘': 1500,
 '메로나': 1000,
 '팥빙수': 2700,
 '아맛나': 1000}

In [192]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = {"apple":300, "pear":250, "peach":400}
result

{'apple': 300, 'pear': 250, 'peach': 400}

In [193]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = dict(zip(keys, vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [197]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_table = dict(zip(date, close_price))
close_table

{'09/05': 10500,
 '09/06': 10300,
 '09/07': 10100,
 '09/08': 10800,
 '09/09': 11000}

# 101 - 110

In [198]:
print(3 == 5)

False

In [199]:
print(3 < 5)

True

In [200]:
x = 4
print(1 < x < 5)

True

In [201]:
print ((3 == 3) and (4 != 3))

True

In [202]:
print(3 => 4)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (3774565717.py, line 1)

In [203]:
if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")

Hi, there.

In [204]:
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

1
2
4

In [205]:
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

3
5

# 111 - 120

In [206]:
user = input("입력:")
print(user * 2)

입력:안녕하세요
안녕하세요안녕하세요

In [209]:
user = input("숫자를 입력하세요.")
print(int(user) + 10)

숫자를 입력하세요.30
40

In [213]:
user = input("숫자")
if int(user) % 2 == 0:
    print("짝수")
else:
    print("홀수")

숫자25
홀수

In [217]:
user = input("입력값: ")
num = 20 + int(user)
if num > 255:
    print(255)
else:
    print(num)

입력값: 245
255

In [223]:
user = input("입력값: ")
num = int(user) - 20
if num > 255:
    print(255)
elif num < 0:
    print(0)
else:
    print(num)

입력값: 300
255

In [225]:
user = input("현재시간: ")
num = int(user)
if num = 0:
    print('정각입니다')
elif:
    print('정각이 아닙니다')

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2805176206.py, line 3)

In [226]:
time = input("현재시간: ")
if time[-2:] == "00":
    print("정각 입니다.")
else:
    print("정각이 아닙니다.")

현재시간: 1:48
정각이 아닙니다.

In [230]:
t = input("좋아하는 과일은? ")
a = ["사과", "포도", "홍시"]
if t == a:
    priint('정답입니다')
elif:
    print('오답입니다')

SyntaxError: invalid syntax (4251995288.py, line 5)

In [231]:
fruit = ["사과", "포도", "홍시"]
user = input("좋아하는 과일은?")
if user in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

좋아하는 과일은?홍시
정답입니다.

In [232]:
a = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
user = input("종목명: ")
if user in a:
    print("투자 경고 종목입니다")
else:
    print("투자 경고 종목이 아닙니다")

종목명: Naver
투자 경고 종목입니다

In [234]:
a = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
계절 = input("제가 좋아하는 계절은: ")
if 계절 in a:
    print('정답입니다')
else:
    print("오답입니다")

제가 좋아하는 계절은: 봄
정답입니다

In [236]:
f = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
계절 = input("좋아하는 과일은? ")
if 계절 in a.values():
    print('정답입니다')
else:
    print("오답입니다")

좋아하는 과일은? 딸기
정답입니다

# 251 - 290

 - 클래스는 일종의 설계도로, 하나의 타입을 정의하는 방법입니다. 클래스에는 관련있는 데이터와 함수를 한 데 모아 정의할 수 있습니다. 
 - 클래스로 만들어진 결과물을 객체라고합니다.

In [237]:
class Human:
    pass

In [239]:
class Human:
    pass

areum = Human()

In [240]:
class Human:
    def __init__(self):
        print("응애응애")

areum = Human()

응애응애

In [244]:
class Human:
    def __init__(self,first,second,third):
        self.first = first
        self.second = second
        self.third = third

areum = Human("아름", 25, '여자')
print(areum.first, areum.second, areum.third)

아름 25 여자

In [245]:
class Human:
    def __init__(self,first,second,third):
        self.first = first
        self.second = second
        self.third = third

areum = Human("이름: 조아름", '나이: 25', '성별: 여자')
print(areum.first, areum.second, areum.third)

이름: 조아름 나이: 25 성별: 여자

In [250]:
class Human:
    def __init__(self,first,second,third):
        self.first = first
        self.second = second
        self.third = third
        
    def who(self):
        print("이름: {} 나이: {} 성별: {}".format(self.first, self.second, self.third)) 
        
areum = Human("아름", 25, "여자")
areum.who()

이름: 아름 나이: 25 성별: 여자